<section class="nav-container">
  <nav class="nav-links">
    <a href="<%= `${context.controller.utils.fullBaseUrl}/recipes` %>">Visi receptai</a>

    <a href="<%= `${context.controller.utils.fullBaseUrl}/authorRecipes` %>">Mano receptai</a>

    <a href="<%= `${context.controller.utils.fullBaseUrl}/recipes/new` %>">Naujas receptas</a>

    <% if (context.currentUser) { %>
      <a href="<%= `${context.controller.utils.fullBaseUrl}/users/${context.currentUser.id}` %>">
        <%= context.currentUser.getFullName() %>
      </a>

      <a href="<%= `${context.controller.utils.fullBaseUrl}/logout` %>">Atsijungti</a>
    <% } else { %>
      <a href="<%= `${context.controller.utils.fullBaseUrl}/login` %>">Prisijungti</a>
    <% } %>
  </nav>
</section>
