<div class="recipe-small-container">
  <div class="recipe-small-header">
    <div class="recipe-small-title">
      <h2><%= recipe.title %></h2>
    </div>

    <div class="recipe-small-author">
      <span>
        <a class="recipe-small-link-author" href="<%= recipe.user.generateAuthorsPageLink() %>">
          <%= recipe.user.getFullName() %>
        </a>
      </span>
    </div>

    <div class="recipe-small-date">
      <span> <%= recipe.createdAt.toLocaleString() %> </span>

      <% if (recipe.canDelete(currentUser)) { %>
      <span>
        <form class="inline" method="post" action="/recipes/<%= recipe.id %>/delete">
          <button
            class="ml-4 bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded"
            type="submit"
          >
            DELETE
          </button>
        </form>
      </span>
      <% } %>
    </div>
  </div>

  <div class="recipe-small-text">
    <p><%= recipe.description.substring(0, 100) %>...</p>
  </div>

  <div class="recipe-small-bottom">
    <a class="recipe-small-link" href="<%= recipe.generatePageLink() %>">Skaityti daugiau</a>
  </div>
</div>
