<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head/meta.html.ejs') %>

    <title>Pagrindinis</title>

    <%- include('../../partials/tailwindMeta.html.ejs') %>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/partials/recipes/recipeSmall.css" />
  </head>
  <body>
    <%- include('../../partials/navbar.html.ejs') %>

    <div class="main-container">
      <header class="page-header">
        <h1 class="page-title">Receptai</h1>
      </header>

      <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm mx-auto">
        <form action="/recipes">
          <div class="form-group mb-6">
            <label for="type" class="form-label inline-block mb-2 text-gray-700">Tipas</label>
            <select class="twe-select" name="type" id="type">
              <% formData.typeOptions.forEach((option) => { %>
                <option value="<%= option %>"<%= formData.type === option ? ' selected' : '' %>>
                  <%= option %>
                </option>
              <% }) %>
            </select>
          </div>

          <div class="form-group mb-6">
            <label for="order" class="form-label inline-block mb-2 text-gray-700">Rusiavimas</label>
            <select class="twe-select" name="order" id="order">
              <option value="ratingDesc"<%= formData.order === 'ratingDesc' ? ' selected' : '' %>>Geriausi virsuje</option>
              <option value="ratingAsc"<%= formData.order === 'ratingAsc' ? ' selected' : '' %>>Blogiausi virsuje</option>
              <option value="createdAtDesc"<%= formData.order === 'createdAtDesc' ? ' selected' : '' %>>Naujausi virsuje</option>
            </select>
          </div>

          <button type="submit" class="twe-button">Rodyti</button>
        </form>
      </div>

      <% recipes.forEach((recipe) => { %> <%- include('../../partials/recipes/recipeSmall.html.ejs', { recipe }) %> <%
      }) %>
    </div>
  </body>
</html>
