<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pagrindinis</title>

    <%- include('../../partials/tailwindMeta.html.ejs') %>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />

    <link rel="stylesheet" href="/css/pages/recipes/show.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"
      integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <%- include('../../partials/navbar.html.ejs') %>

    <div class="main-container">
      <header class="page-header">
        <h1 class="page-title"><%= recipe.title %></h1>

        <p class="recipe-author"><%= recipe.user.getFullName() %></p>
      </header>

      <% if (recipe.canManage(currentUser)) { %>
      <div class="flex flex-row-reverse mx-10">
        <div>
          <form class="inline" action="/recipes/<%= recipe.id %>/edit">
            <button
              class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
              type="submit"
            >
              Redaguoti
            </button>
          </form>

          <form class="inline" method="post" action="/recipes/<%= recipe.id %>/delete">
            <button
              class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded"
              type="submit"
            >
              Panaikinti
            </button>
          </form>
        </div>
      </div>
      <% } %>

      <div class="m-4" style="white-space: pre-line"><%- recipe.description %></div>

      <div class="recipe-bottom">
        <div class="recipe-rating">
          <div
            id="rater"
            data-initial-rating="<%= totalRating %>"
            data-read-only="<%= !!currentUser %>"
            data-recipe-id="<%= recipe.id %>"
          ></div>

          <div id="recipe-current-user-rating" class="<%= !myRating && 'display-none' %>">
            (Jūsų įvertinimas: <%= myRating %>)
          </div>
        </div>
      </div>

      <div class="comment-form">
        <form action="/comments" method="post">
          <p>Komentuoti</p>
          <input
            type="text"
            name="text"
            required=""
            class="border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          />
          <input type="text" name="recipeId" required="" value="<%= recipe.id %>" hidden />
          <div class="add-button">
            <button type="submit">Pridėti</button>
          </div>
        </form>
      </div>

      <div class="recipe-comments">
        <!-- Comments -->
        <% recipe.comments.forEach((comment) => { %>
        <div class="recipes-comment">
          <div class="comment-user"><%= comment.user.firstName %> <%= comment.user.lastName %></div>
          <div class="comment-text"><%= comment.text %></div>
        </div>
        <% }) %>
      </div>
    </div>

    <script src="/packages/rater-js/index.js"></script>
    <script src="/js/pages/recipes/show.js"></script>
  </body>
</html>
